import * as React from 'react';
import { View } from '../View';
import { IActionListener } from '../../component/common/IActionListener';
import { I{{component}}View } from './I{{component}}View';

export class {{component}}View extends View implements I{{component}}View {
  constructor(id?: string) {
    super(id);
  }

  renderComponent = () => {
    return (
      <div
        ref={this.elementRef}
        id={this.getId()}
      >
      </div>
    );
  }

  repaint = () => {

  }
}
