import { Component } from '../../component/Component';
import { {{component}}Model } from './{{component}}Model';
import { I{{component}}View } from '../../view/{{folder}}/I{{component}}View';

export class {{component}} extends Component<{{component}}Model, I{{component}}View> {
  static UICODE = '{{uicode}}';
  
  constructor(id: string) {
    super(id);
  }

  getUICode(): string {
    return {{component}}.UICODE;
  }
}
